html {
  font-size: 16px;
}

body {
  background-color: #fff;
}

#user-product {
  color: #512051;
  font-size: 3.01rem;
  width: 39%;
}

.customer-service {
  color: #927B91;
  font-size: 1.05rem;
  width: 49%;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li {
  list-style: none;
}

/* .star-section {
  display: flex;
} */

.star-container {
  display: flex;
}
